/* Reset pentru consistență */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-image:url("imagini-site/poza2a.jpg") ;
  color: white;
}

header {
  background-color: #ff69b4;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Despre Noi */
#despre, #servicii, #contact, #programari {
  background-color: transparent;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 900px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#despre:hover{
  background-color: palevioletred;
}

h2 {
  margin-bottom: 15px;
  color: #ff69b4;
  font-size: 28px;
}

p {
  margin-bottom: 15px;
}

/* Servicii */
.serviciu {
  margin-bottom: 20px;
}

.serviciu h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

#servicii:hover{
  background-color:palevioletred;
}

/* contact */
#contact:hover{
  background-color: palevioletred;
}
/* Form de Programare */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input, select {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #ff69b4;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff85c0;
}

footer {
  text-align: center;
  background-color: #ff69b4;
  color: white;
  padding: 10px;
  margin-top: 20px;
}
