html{background: black url(imagini-site/background4a.jpg) center center no-repeat; background-size: cover; color: white;

}
   body{
    display: block;
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    place-items: center;
    font-family: inter, Helvetica, Aria, sans-serif;
    font-size: 24px;
    line-height: 1.5em;

    background-color:transparent;
    padding: 1rem;
    border-radius: 2rem;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.5em;

     }
     #title{
      display: block; margin: 0; padding: 0; border-top: 1px solid black;
     }
       h1{
          
          text-align: center; padding: 0; margin: 0;
          color: black;
          text-decoration: none;
          font-style:italic;
          }
       h2{
      text-align: center; padding: 0; margin: 0;
      color: black;
      text-decoration: none;
      font-style:italic;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva , Verdana, sans-serif;
       }
       h3{
        text-align: center; padding: 0; margin: 0;
        color: white;
        text-decoration: none;
        font-style:italic;
       }
        
      div{
        color: black;
        
        }
       

         ul{
          
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 200px;
            background-color:transparent;
               
            }
              li{
                display: block;
                color: #000;
                padding: 8px 0 8px 16px;
                text-decoration: none;
            }
            li,a:hover{
                color: white;
            }
            
          main{
            display: block; margin: 0; padding: 0; border-top: 1px solid black; 

             }
              p{
                color: white;
              }

             #imagine-cosmetica{
              margin-right: 100px;

             }
            .poze-site{
             margin: 0;
             padding: 0;
             }
           